---
import Section from "@/components/Section.astro";
---

<Section title="Proyectos" number="04" id="projects" bg="dark">
  <div class="container">
    <h1>PROYECTOS</h1>
    <p>
      En once años de experiencia, he tenido la oportunidad de trabajar en
      <strong>42</strong> proyectos de diversa índole, para más de
      <strong>20</strong> clientes en <strong>Colombia</strong>,
      <strong> República dominicana </strong>
      y <strong>Perú</strong>.
    </p>

    <p>Estos son algunos lugares y clientes con los que he trabajado:</p>

    <article class="slider-infinite">
      <section class="scroll scroll0" style="--t: 50s;">
        <div>
          <span>Bogotá D.C.</span>
          <span>Manizales</span>
          <span>Cajamarca</span>
          <span>Cota</span>
          <span>Bojaca</span>
          <span>Tenjo</span>
          <span>La Uribe</span>
          <span>Villeta</span>
          <span>Fresno</span>
          <span>Sogamoso</span>
          <span>Aguazul</span>
          <span>Maní</span>
          <span>Puerto Gaitán.</span>
          <span>Mocoa</span>
          <span>Santa Fe De Antioquia</span>
        </div>
        <div>
          <span>Bogotá D.C.</span>
          <span>Manizales</span>
          <span>Cajamarca</span>
          <span>Cota</span>
          <span>Bojaca</span>
          <span>Tenjo</span>
          <span>La Uribe</span>
          <span>Villeta</span>
          <span>Fresno</span>
          <span>Sogamoso</span>
          <span>Aguazul</span>
          <span>Maní</span>
          <span>Puerto Gaitán.</span>
          <span>Mocoa</span>
          <span>Santa Fe De Antioquia</span>
        </div>
      </section>
      <section class="scroll scroll1" style="--t: 50s;">
        <div>
          <span>Bogotá D.C.</span>
          <span>Caldas</span>
          <span>Tolima</span>
          <span>Cundinamarca</span>
          <span>Meta</span>
          <span>Boyacá</span>
          <span>Casanare</span>
          <span>Putumayo</span>
          <span>Antioquia</span>  
        </div>
        <div>
          <span>Bogotá D.C.</span>
          <span>Caldas</span>
          <span>Tolima</span>
          <span>Cundinamarca</span>
          <span>Meta</span>
          <span>Boyacá</span>
          <span>Casanare</span>
          <span>Putumayo</span>
          <span>Antioquia</span>  
        </div>

      </section>
      <section class="scroll scroll2" style="--t: 40s;">
        <div>
          <img src="/public/Logos/CSS.png" alt="" />
          <img src="/public/Logos/FA.jpg" alt="" />
          <img src="/public/Logos/EUROESTUDIOS.jpg" alt="" />
          <img src="/public/Logos/GEOANDINA.jpg" alt="" />
          <img src="/public/Logos/GYC.jpg" alt="" />
          <img src="/public/Logos/PROGIN.jpg" alt="" />
          <img src="/public/Logos/AIM.png" alt="" />
          <img src="/public/Logos/CONCAY.png" alt="" />
          <img src="/public/Logos/IDU.png" alt="" />
          <img src="/public/Logos/INVIAS.png" alt="" />
        </div>
        <div>
          <img src="/public/Logos/CSS.png" alt="" />
          <img src="/public/Logos/FA.jpg" alt="" />
          <img src="/public/Logos/EUROESTUDIOS.jpg" alt="" />
          <img src="/public/Logos/GEOANDINA.jpg" alt="" />
          <img src="/public/Logos/GYC.jpg" alt="" />
          <img src="/public/Logos/PROGIN.jpg" alt="" />
          <img src="/public/Logos/AIM.png" alt="" />
          <img src="/public/Logos/CONCAY.png" alt="" />
          <img src="/public/Logos/IDU.png" alt="" />
          <img src="/public/Logos/INVIAS.png" alt="" />
        </div>
      </section>
      <section class="scroll scroll3" style="--t: 70s;">
        <div>
          <span>Estabilidad Y Taludes</span>
          <span>Puentes</span>
          <span>Muros</span>
          <span>Zodmes</span>
          <span>Ferrocarriles</span>
          <span>Edificaciones</span>
          <span>Deprimido</span>
          <span>Oleoducto</span>
          <span>Acueducto</span>
          <span>Hidroeléctrica</span>
        </div>
        <div>
          <span>Estabilidad Y Taludes</span>
          <span>Puentes</span>
          <span>Muros</span>
          <span>Zodmes</span>
          <span>Ferrocarriles</span>
          <span>Edificaciones</span>
          <span>Deprimido</span>
          <span>Oleoducto</span>
          <span>Acueducto</span>
          <span>Hidroeléctrica</span>
        </div>
      </section>
    </article>
  </div>
</Section>
<style>
  .container {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
        background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }

  p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #b4b4b4;
    text-align: center;
    max-width: 800px;
  }

  p strong {
    color: #fff;
  }

  p:first-of-type {
    margin-bottom: 110px;
  }
  .slider-infinite {
    width: 100%;
    margin: 0 auto;

  }

  .scroll {
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.007);
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
    padding: 5px 20px;
    width: 100%;
  }

  .scroll div {
    white-space: nowrap;
    /** */
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) / -1);
  }
  .scroll div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
  }
  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  span {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0em;
    color: #ccc;
    text-align: center;
    margin: 5px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(26, 32, 32, 0.199);
    border-radius: 5px;
    transition: 0.5s;
  }

  .scroll0 span {
    background-color: rgba(235, 0, 0, 0.02);
    font-family: "Bebas Neue";
    font-weight: 100;
    font-size: 1.8rem;
  }
  .scroll1 span {
    background-color: rgba(235, 0, 0, 0.02);
    font-family: "Playwrite NG Modern";
  }
  .scroll3 span {
    background-color: rgba(0, 235, 0, 0.02);
    font-family: "Roboto Mono", monospace;
  }

  .scroll2 img {
    height: 50px;
    /*
    width: 200px;
     */
    margin: 15px 5px;
    object-fit: contain;
    filter: grayscale(100%);
  }
  .scroll2 {
    background-color: rgb(255, 255, 255);
  }
  span:hover {
    background-color: #333;
    color: #fff;
  }

  @media screen and (max-width: 768px){
    .container {
    padding: 2vw;
        background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  }
  }

</style>
