---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Contact from "@/components/sections/Contact.astro";
import Portfolio from "@/components/sections/Portfolio.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import LateralMenu from "@/components/LateralMenu.astro";
---

<Layout title="Portafolio EJA">
  <main>
    <LateralMenu />
    <Hero />
    <Portfolio />
    <Contact />
    <Experience />
    <Projects />
  </main>
  
</Layout>

<style>
main{
  /*
  padding: 4rem;
  */
  margin: auto; 
  width: 100%;
}

</style>
